* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b4c1c5;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#start {
    padding: 10px;
    width: 150px;
    height: 60px;
    font-size: 24px;
    background-color: #2647c0;
    color: white;
    cursor: pointer;
    border: 4px outset #3962f3;
}

#start:hover {
    outline: 4px solid #d8dffe;
}

#start:active {
    border: 4px inset #3962f3;
}

#primaryBoard div,
#shootingBoard div {
    background-color: white;
    border: 1px solid black;
}

#primaryBoard,
#shootingBoard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

#boardContainer {
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 50px;
}

#boardContainer #primaryBoard .ship {
    background-color: silver;
}

#shootingBoard div[data-state="hit"],
#boardContainer #primaryBoard div[data-state="hit"] {
    background-color: #ec8181;
}

#shootingBoard div[data-state="hitShip"],
#boardContainer #primaryBoard div[data-state="hitShip"] {
    background-color: #048e8e;
}

#selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

#selectContainer label {
    font-size: 20px;
    font-weight: bold;
}

#selectContainer select {
    padding: 3px;
    font-size: 20px;
}