* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a3d5e5;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#start {
    padding: 10px;
    width: 100px;
    font-size: 18px;
}

#primaryBoard div,
#shootingBoard div {
    background-color: white;
    border: 1px solid black;
}

#primaryBoard,
#shootingBoard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

#boardContainer {
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 50px;
}

#boardContainer #primaryBoard .ship {
    background-color: silver;
}